{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
ورود | شعله خیز
</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body_block %}
<br><br>
<div   class="uk-text-center ">
  <div style="padding:10%">


<div style="padding: 3%;border-radius: 8px;" uk-grid>
  <div class=" uk-width-1-1 uk-block fHarmattan ">
    <div class="uk-card uk-card-hover uk-card-body darkgreyC ">
    <h2 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">قوانین و مقررات</h2><br>
    <p style="font-size:20px" class="goldC-text uk-card-title uk-align-right fHarmattan  uk-text-justify ">همه ی فعالیت های این سایت بر اساس قوانین جمهوری اسلامی ایران است.
<br><br>
    با تایید سفارش محصول، قیمت طلا یا جواهر خریداری شده بر اساس نرخ لحظه ای طلا که در زمان سفارش ثبت شده است محاسبه می شود و هرگونه نوسان قیمت طلا از زمان ثبت سفارش تا زمان تحویل جنس در قیمت نهایی تاثیر نخواهد گذاشت.
<br><br>
    هزینه ی ارسال کالا به آدرس ذکر شده در زمان ثبت سفارش جدا از قیمت محصول بوده و درصورتی که هزینه ای برای ارسال محصول در نظر گرفته شود به اطلاع مشتری خواهد رسید.
<br><br>
    هرگونه کلاهبرداری یا اقدام به کلاهبرداری از طریق مراجع قضایی پیگیری خواهد شد
<br><br>
    مشتریان می توانند هرگونه شکایت، پیشنهاد یا درخواست خود را در صفحه ی تماس با ما ثبت کنند.</p><br><br>
</div>

</div>

</div>
</div>
</div>
<br><br>
{% endblock %}
